<div class="container">
    
    <div style="border-color: #990000;">
        <h1 class="color-scheme" style="padding-left: 15px; border-radius: 3px;">Our Story</h1>
        <div style="font-size: 20px; padding: 15px;">
            <p>
                This team was born out of neccessity. The founders, Milad Gueramian (CS 16') and Jonathan
                Montesdeoca (EE '18') were driven by an undending passion for the sport and most importantly
                for USC. Absence of a competativ men's soccer team such as an NCAA D1 program on campus was
                not views as an opportunity in the eyes of the founders, but rather a lack in the integrity 
                of the university.
            </p>
            <p>
                Milad Gueramian started dabbling with the idea of creating a tema back in 2013. Before his
                first week of classes he approached Engineering Dean Yannis Yortsos, an avid soccer fan, to
                inquire about the state of soccer at USC and why people in his position had no power to change
                the facts on the ground. Dean Yortsos explained that years before certain administrators had
                tried in vain to re-instate the team, but there had been no students groups actively lobbying.
                On his recommendation, Milad started a 
                <a href="https://www.change.org/p/c-l-max-nikias-start-an-ncaa-d1-men-s-soccer-team-at-usc">petition</a>
                To gauge student interest in an NCAA D1 men's soccer team. After very positive feedback Milad
                began looking for ways to bring the petition to the attention of administrators. Unfortunately,
                USC administration at several levels were not willing to hear what he had to say and they were
                deaf to the fact that 1,300+ students at the time were on board with the idea. 
            </p>
            <p>
                Luckily, in the Fall of 2015 Jonathan Montesdeoca found Milad's petition while independently
                searching for ways to bring soccer back to USC. The two joined forces and began concentrating
                their power into creative out of the box solutions. when they discovered 
            </p>
        </div>
    </div>
    <div style="border-color: #990000;">
        <h1 class="color-scheme" style="padding-left: 15px; border-radius: 3px;">Current Status</h1>
        <div style="font-size: 20px; padding: 15px;">
            <p>
                We are in our inagural season! The team will participate for the duration of the year in
                the <a href="http://socalpremier.org/_element_display/#%2F72238%2Fteams%2F88733119%2F89797375-88733208%2FTEAM.html%3Fdummy%3D1506809231896">SoCal Premier Leauge</a>. 
                This league is registered under the Cal South governing body which is a member of the 
                United States Adult Soccer Association. This means that we can participate in the 
                <a href="https://www.ussoccer.com/lamar-hunt-us-open-cup">Lamar Hunt U.S. Open Cup</a> at the end of our season a few months form now in 2018.
            </p>
            <p>
                We are beginning in the bottom rungs of SoCal Premier at the 3rd dividion. Competition will
                not be stiff but our goal is to focus this season on building our administrative team and
                familiarizing ourselves with the daily operations needed to sustain this team in the future.
                We hope to finish the season strong, qualifying for the 2nd division and attracting even more
                talented players.
            </p>
        </div>
    </div>
    <div style="border-color: #990000;">
        <h1 class="color-scheme" style="padding-left: 15px; border-radius: 3px;">Future Goals</h1>
        <div style="font-size: 20px; padding: 15px;">
            <p>
                Our ultimate goal is to have several teams, the first of which is a well funded, USC backed,
                semi-professional team competeing in the <a href="http://www.uslpdl.com/">PDL</a>. Brigham
                Young University currently competes in the PDL and have been doing so for more than a decade.
                Their official men's soccer team therefore is competing outside of the NCAA. We want to utilize
                their model and improve and advance upon it, hopefully buying our own professional USL franchise
                as well in the distant future. We want to be able to recruit players internationally and on
                scholarship (since we are outside of NCAA jurisdication we can have boosters). We also want to
                give continue giving opportunities for community based players to participate in this team.
            </p>
        </div>
    </div>

</div>

